<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Packed in CI from roflmuffin/CounterStrikeSharp@2d1b3d7 (PR 1433, CS2 1.41.8.2). -->
    <add key="css-pr1433" value=".cssharp/nupkg" />
  </packageSources>
</configuration>
